@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  padding: 0 10px;
  color: #282828;
}

.disable-out-of-stock-product {
  background-color: #28282b;
  opacity: 0.5;
}

/* .highlight-product {
  -webkit-box-shadow: 0 0 1px #000 inset;
  -moz-box-shadow: 0 0 1px 3px #000 inset;
  border: #efefef 0 0 1px 3px #000 inset;
  box-shadow: 10px 10px 18px #cccccc;
  transform: scale(1.05);
} */
