<app-filter
  [all]="products.length"
  [inStock]="inStockProductsCount"
  [outOfStock]="outOfStockCount"
  (selectedFilterRadioButtonChanged)="onFilterChange($event)"
></app-filter>
<div class="ekart--products--container">
  <div *ngFor="let prod of products">
    <app-product
      [product]="prod"
      *ngIf="
        (searchText === '' ||
          prod.name.toLowerCase().includes(searchText.toLowerCase())) &&
        (selectedFilterRadioButton === 'all' ||
          prod.is_in_inventory.toString() === selectedFilterRadioButton)
      "
      (click)="selectedProduct = prod"
    ></app-product>
  </div>
</div>
