<section class="container" [ngClass]="{ 'form-shadow': regForm.touched }">
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="OnFormSubmitted()" #regForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input
          type="text"
          placeholder="First Name"
          name="firstname"
          ngModel
          required
          #fname="ngModel"
        />

        <small *ngIf="fname.touched && fname.invalid"
          >*First Name is a Required Field</small
        >
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Last Name"
          name="lastname"
          ngModel
          required
          #lname="ngModel"
        />

        <small *ngIf="lname.touched && lname.invalid"
          >*Last Name is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />

      <small *ngIf="email.touched && email.invalid"
        >*Entered Email is not valid</small
      >
      <span *ngIf="emailAddress">You entered: {{ emailAddress }}</span>
    </div>

    <div class="column">
      <div class="input-box">
        <input
          type="tel"
          placeholder="Phone Number"
          name="phoneNumber"
          ngModel
        />
      </div>

      <div class="input-box">
        <input
          type="date"
          placeholder="Date of Birth"
          name="birthDate"
          ngModel
          required
          #birth="ngModel"
        />
        <small *ngIf="birth.touched && birth.invalid"
          >*Birth date is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="username"
        name="username"
        required
        ngModel
        #uname="ngModel"
      />
      <div>
        <small *ngIf="uname.touched && uname.invalid"
          >*Username is a Required Field</small
        >
      </div>

      <button
        class="btn-gen-username"
        type="button"
        [disabled]="fname.invalid || lname.invalid || birth.invalid"
        (click)="GenerateUserName()"
      >
        Generate a Username
      </button>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input
            type="radio"
            [id]="gen.id"
            [value]="gen.value"
            name="gender"
            ngModel
            required
          />
          <label [for]="gen.id">{{ gen.display }}</label>
        </div>
      </div>
    </div>

    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <label>Address</label>
      <input
        type="text"
        placeholder="Street address"
        name="address1"
        ngModel
        required
      />
      <input
        type="text"
        placeholder="Street address line 2"
        name="address2"
        ngModel
      />
      <div class="column">
        <div class="select-box">
          <select name="country" ngModel required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel />
        <input
          type="number"
          placeholder="Postal code"
          name="postalCode"
          ngModel
          required
        />
      </div>
    </div>

    <div class="column">
      <input type="checkbox" name="agreement" [ngModel]="isAgreed" />
      <label for="agreement">I agree to terms & conditions</label>
      <br />
    </div>

    <small *ngIf="addr.invalid && addr.touched"
      >*Some of the address fields does not contain a valid value</small
    >
    <input
      type="submit"
      value="Submit"
      class="submit-btn"
      [disabled]="regForm.invalid"
    />
  </form>
</section>

<section class="user-detail-container">
  <div class="user-details-container">
    <div class="user-avatar">
      <p>
        {{ firstName.slice(0, 1).toUpperCase()
        }}{{ lastName.slice(0, 1).toUpperCase() }}
      </p>
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2>{{ firstName }} {{ lastName }}</h2>
      </div>
      <p><b>Email: </b>{{ emailAddress }}</p>
      <p><b>Username: </b>{{ userName }}</p>
      <p><b>Date of birth: </b>{{ birthDate }}</p>
      <div class="user-name">
        <h3>{{ address }}</h3>
      </div>
      <span>{{ country }}</span>
      <span>{{ city }}</span>
      <span>{{ region }}</span>
      <span>{{ postalCode }}</span>
    </div>
  </div>
</section>
